<h2>My Personal Budget</h2>
<button class="btn--default" data-bind="click: logout" style="float: right;">Logout</button>

<overview></overview>
<div class="layover" data-bind="visible: copyBudgetDialog(), click: toggleCopyBudgetDialog">
    <div class="creation-form" data-bind="click: function () {}, clickBubble: false;">
        <p class="align-center">You can choose a previous budget template and copy it to your monthly budgets.</p>

        <div class="list-item-static">
            <div class="attrs">
                <span class="attr">Name</span>
                <span class="attr">Planned</span>
                <span class="attr">Month</span>
            </div>
        </div>

        <div class="list" data-bind="foreach: oldBudgets">
            <div class="list-item" data-bind="click: function() { $parent.copyBudget(id) }">
                <div class="attrs">
                    <span class="attr" data-bind="text: name"></span>
                    <span class="attr" data-bind="text: plannedAmount"></span>
                    <span class="attr" data-bind="text: month"></span>
                </div>
            </div>
        </div>

        <button class="btn--default align-center" data-bind="click: toggleCopyBudgetDialog">Close</button>
    </div>
</div>



<div class="layover" data-bind="visible: newBudgetForm(), click: toggleNewBudgetForm">
    <div class="creation-form" data-bind="click: function () {}, clickBubble: false;">
        <h3 class="align-center">Create Budget</h3>
        <div class="input-info">
            <label for="name">Name:</label>
            <input id="name" class="input--default" placeholder="Name" data-bind="textInput: form.name" />
        </div>
        <div class="input-info">
            <label for="month">Month:</label>
            <input id="month" class="input--default" placeholder="Date mm-yyyy" data-bind="textInput: form.month" />
        </div>
        <div class="input-info">
            <label for="amount">Planned Amount:</label>
            <input id="amount" class="input--default" placeholder="Amount" data-bind="textInput: form.plannedAmount" />
        </div>
        <button class="btn--default align-center" data-bind="click: addBudget">Add budget</button>
    </div>
</div>


<div class="budgets-container">
    <h2>Budgets</h2>
    <div class="flex-center">
        <button class="btn--default" data-bind="click: toggleNewBudgetForm">+ New Budget</button>
        <button class="btn--default" data-bind="click: promptCopyBudget">Copy old budget</button>
    </div>
    <div class="list-item-static">
        <div class="attrs">
            <span class="attr">Name</span>
            <span class="attr">Month</span>
            <span class="attr">Planned</span>
            <span class="attr">Spent</span>
            <span class="attr">%</span>
        </div>
    </div>
    <div class="list" data-bind="foreach: budgets">
        <div class="list-item" data-bind="click: function() { $parent.selectBudget($data) }, css: { 'item-selected': $parent.selectedBudget() && $parent.selectedBudget().id === id }">
            <div class="attrs">
                <span class="attr" data-bind="text: name"></span>
                <span class="attr" data-bind="text: month"></span>
                <span class="attr" data-bind="text: plannedAmount"></span>
                <span class="attr" data-bind="text: spentAmount"></span>
                <span class="attr" data-bind="text: percSpent() + '%', css: { 'text--warning': percSpent() > 80 }"></span>
            </div>
            <button class="btn--default btn-remove" data-bind="click: function() { $parent.removeBudget($data) }, clickBubble: false">X</button>
        </div>
    </div>
</div>


<!--Categories-->
<!-- ko if: budgets().length -->

<div class="layover" data-bind="visible: newCategoryForm(), click: toggleNewCategoryForm">
    <div class="creation-form" data-bind="click: function () {}, clickBubble: false;">
        <h3 class="align-center">Create Budget Category</h3>
        <div class="input-info">
            <label for="name">Name:</label>
            <input id="name" class="input--default" placeholder="Name" data-bind="textInput: categoryForm.name" />
        </div>
        <div class="input-info">
            <label for="budget">Budget:</label>
            <input id="budget" disabled class="input--default" placeholder="Budget" data-bind="textInput: categoryForm.budget" />
        </div>
        <div class="input-info">
            <label for="planned-amount">Planned Amount:</label>
            <input id="planned-amount" class="input--default" placeholder="Planned Amount" data-bind="textInput: categoryForm.plannedAmount" />
        </div>
        <button class="btn--default align-center" data-bind="click: addCategory">Add category</button>
    </div>
</div>

<div class="categories-container">
    <h2>Categories for <u data-bind="text: selectedBudget() && selectedBudget().name"></u></h2>
    <button class="btn--default" data-bind="click: toggleNewCategoryForm">+ New Category</button>

    <div class="list-item-static">
        <div class="attrs">
            <span class="attr">Name</span>
            <span class="attr">Planned</span>
            <span class="attr">Spent</span>
            <span class="attr">%</span>
        </div>
    </div>

    <div class="list" data-bind="foreach: categories">
        <div class="list-item" data-bind="click: function() { $parent.selectCategory($data) }, css: { 'item-selected': $parent.selectedCategory() && $parent.selectedCategory().id === id }">
            <div class="attrs">
                <span class="attr" data-bind="text: name"></span>
                <span class="attr" data-bind="text: plannedAmount"></span>
                <span class="attr" data-bind="text: spentAmount"></span>
                <span class="attr" data-bind="text: difference() + '%', css: { 'text--warning': difference() > 80 }"></span>
            </div>
            <button class="btn--default btn-remove" data-bind="click: function() { $parent.removeCategory(id) }, clickBubble: false">X</button>
        </div>
    </div>
</div>
<!-- /ko -->


<!--Payments-->
<!-- ko if: categories().length -->

<div class="layover" data-bind="visible: newPaymentForm(), click: toggleNewPaymentForm">
    <div class="creation-form" data-bind="click: function () {}, clickBubble: false;">
        <h3 class="align-center">Create Payment</h3>
        <div class="input-info">
            <label for="name">Name:</label>
            <input class="input--default" placeholder="Name" data-bind="textInput: paymentForm.name" />
        </div>
        <div class="input-info">
            <label for="budget">Budget:</label>
            <input id="budget" disabled class="input--default" placeholder="Budget" data-bind="textInput: paymentForm.budget" />
        </div>
        <div class="input-info">
            <label for="category">Category:</label>
            <input id="category" disabled class="input--default" placeholder="Category" data-bind="textInput: paymentForm.category" />
        </div>
        <div class="input-info">
            <label for="date">Date:</label>
            <input id="date" disabled class="input--default" placeholder="Date" data-bind="textInput: paymentForm.date" />
        </div>
        <div class="input-info">
            <label for="planned-amount">Planned Amount:</label>
            <input id="planned-amount" class="input--default" placeholder="Planned Amount" data-bind="textInput: paymentForm.plannedAmount" />
        </div>
        <div class="input-info">
            <label for="description">Description:</label>
            <textarea id="description" class="textarea--default" placeholder="Description" data-bind="textInput: paymentForm.description"></textarea>
        </div>
        <button class="btn--default align-center" data-bind="click: addPayment">Add payment</button>
    </div>
</div>

<div class="payments-container">
    <h2>Payments for "
        <u data-bind="text: selectedBudget() && selectedBudget().name"></u> /
        <u data-bind="text: selectedCategory() && selectedCategory().name"></u>"
    </h2>
    <button class="btn--default" data-bind="click: toggleNewPaymentForm">+ New payment</button>

    <div class="list-item-static">
        <div class="attrs">
            <span class="attr">Name</span>
            <span class="attr">Date</span>
            <span class="attr">Category</span>
            <span class="attr">Amount</span>
            <span class="attr">Description</span>
        </div>
    </div>

    <div class="list" data-bind="foreach: payments">
        <div class="list-item">
            <div class="attrs">
                <span class="attr" data-bind="text: name"></span>
                <span class="attr" data-bind="text: date"></span>
                <span class="attr" data-bind="text: category"></span>
                <span class="attr" data-bind="text: amount"></span>
                <span class="attr" data-bind="text: description"></span>
            </div>
            <button class="btn--default btn-remove" data-bind="click: function() { $parent.removePayment(id) }, clickBubble: false">X</button>
        </div>
    </div>
</div>

<!-- /ko -->
