<h2>Dashboard</h2>
<button class="btn--default" data-bind="click: toggleNewBudgetForm">+ New Budget</button>
<button class="btn--default" data-bind="click: logout">Logout</button>

<div data-bind="visible: newBudgetForm()" class="new-Budget-form">
    <input class="btn--default" placeholder="Name" data-bind="textInput: form.name" />
    <input class="btn--default" placeholder="Date mm-yyyy" data-bind="textInput: form.month" />
    <input class="btn--default" placeholder="Amount" data-bind="textInput: form.plannedAmount" />
    <button class="btn--default" data-bind="click: addBudget">Add budget</button>
</div>

<overview></overview>

<div class="budgets-container" data-bind="foreach: budgets">
    <div class="budget" data-bind="click: open">
        <span class="name" data-bind="text: name"></span>
        <button class="btn-remove" data-bind="click: function() { $parent.removeBudget($data) }, clickBubble: false">Remove budget</button>
    </div>
</div>