<h1>Login</h1>

<div class="registration-form">

    <div class="input--wrap">
        <div>Username:</div>
        <input class="input--default" type="text" data-bind="textInput: username">
    </div>
    <div class="input--wrap">
        <div>Password:</div>
        <input class="input--default" type="password" data-bind="textInput: password">
    </div>

    <button class="btn--default" data-bind="click: login">Login</button>
    <button class="btn--default" data-bind="click: function () { location.href = '/register' }">Register</button>

</div>