<div class="overview">
    <div class="wrap">
        <div class="title">Monthly income</div>
        <div class="money" data-bind="text: monthlyIncome"></div>
        <button class="btn--default" data-bind="click: toggleEdit">Edit</button>
        <input class="input--default" type="number" data-bind="visible: editMonthly, textInput: setMonthly" style="margin-top: 7px;"/>
        <button class="btn--default" data-bind="visible: editMonthly, click: saveMonthly">Save</button>
    </div>
    <div class="wrap">
        <div class="title" >Monthly planned</div>
        <div class="money" data-bind="text: monthlyPlanned"></div>
    </div>
    <div class="wrap">
        <div class="title">Monthly spent</div>
        <div class="money" data-bind="text: monthlySpent"></div>
    </div>
    <div class="wrap">
        <div class="title">Monthly diff</div>
        <div class="money" data-bind="text: monthlyDiff"></div>
    </div>
</div>