@mixin container-mixin {
    width: 47%;
    height: 500px;
    float: left;
    display: flex;
    flex-direction: column;

    .list {
        flex: 1;
        overflow-y: scroll;
    }
}

.budgets-container {
    @include container-mixin;
    margin-right: 6%;
}

.categories-container {
    @include container-mixin;
}

.payments-container {
    @include container-mixin;
    width: 100%;
}
